In [1]:
#import dependencies
import pandas as pd
import pyspark 
import numpy as np

In [6]:
#Read CSV as Pandas DF
df = pd.read_csv(r'C:\Users\Adrian\Documents\GW_Bootcamp\Module 16\Amazon_Vine_Analysis\challenge\vine_table.csv', header=None)

#Assign column names to data
df.columns = ['review_id', 'start_rating' ,'helpful_votes', 'total_votes', 'vine', 'verified_purchase']

In [7]:
df.head(10)

,review_id,start_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y
5,R3AQQ4YUKJWBA6,1,0,0,N,Y
6,R2F0POU5K6F73F,5,0,0,N,Y
7,R3VNR804HYSMR6,5,0,0,N,Y
8,R3GZTM72WA2QH,5,0,0,N,Y
9,RNQOY62705W1K,4,0,0,N,Y

In [12]:
total_votes_df = df[df.total_votes>=20]
total_votes_df

,review_id,start_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785714,R26KS4Q9G04FIV,2,8,21,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [24]:
helpful_votes_df = total_votes_df[total_votes_df['helpful_votes']/total_votes_df['total_votes']>=.50]
helpful_votes_df

,review_id,start_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [26]:
vine_program_df = helpful_votes_df[helpful_votes_df['vine']=='Y']
vine_program_df

,review_id,start_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N
...,...,...,...,...,...,...
1456862,RLPTVGLU0JQIP,3,42,45,Y,N
1463333,R3ASJ9SENYYYI0,5,40,46,Y,N
1481162,RNU8PK609WT6P,4,347,362,Y,N
1506354,R8YT75NJW0CM9,4,37,40,Y,N
1506642,R2EDL85YVF0PRA,5,23,32,Y,N

In [27]:
notvine_program_df = helpful_votes_df[helpful_votes_df['vine']=='N']
notvine_program_df

,review_id,start_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [29]:
# Total number of reviews
len(df.index)

1785997

In [36]:
# Total 5 star reviews
len(df[(df['start_rating']==5)])

1026924

In [51]:
#Total vine program reviews
total_vine_reviews = len(vine_program_df.index)
total_vine_reviews

94

In [52]:
#Total vine program 5-start reviews
total_vine_fivestars = len(vine_program_df[(vine_program_df['start_rating']==5)])
total_vine_fivestars

48

In [60]:
#Total percentage of vine program 5-star reviews
fivestar_percent_vine = total_vine_fivestars/total_vine_reviews
vine_percent = "{:.2%}".format(fivestar_percent_vine) 
print(vine_percent)

51.06%

In [57]:
#Total non-vine program reviews
total_notvine_reviews = len(notvine_program_df.index)
total_notvine_reviews

40471

In [58]:
#Total non-vine program 5-star reviews
total_notvine_fivestars = len(notvine_program_df[(notvine_program_df['start_rating']==5)])
total_notvine_fivestars

15663

In [61]:
#Total percentage of non-vine program 5-star reviews
fivestar_percent_notvine = total_notvine_fivestars/total_notvine_reviews 
notvine_percent = "{:.2%}".format(fivestar_percent_notvine) 
print(notvine_percent)

38.70%